/* background styles */

body {
  background-image: url("Images/main.png");
  /* Set background image to fixed (don't scroll along with the page) 
  height: 70%; */
  background-attachment: fixed;
  background-position: center top;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover; /*`contain`, `cover`, `X Y`*/
}



